.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.short-link-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid red; */
}

.short-link-content .short-link-title {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;

    background: linear-gradient(89.92deg, #144EE3 -0.02%, #EB568E 18.86%, #A353AA 64.49%, #144EE3 100.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.short-link-content .short-link-description {
    width: 75%;
    margin-top: 1.5rem;
    text-align: center;
}

.short-link-form-container {
    width: 75%;

    margin-top: 2rem;
}

.short-link-form-container .short-link-form {
    display: flex;
    justify-content: center;

}

.short-link-form-container .short-link-form input[type=text] {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 2rem;
    padding: .8rem;
    padding-left: 1.5rem;
    width: 100%;
    border: 1px solid #353C4A;
    margin-right: 1rem;
}

.short-link-form-container .short-link-form input[type=submit] {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    border-radius: 2rem;
    border: 0;
    padding: 1rem 2rem;
    background-color: #144EE3;
    font-weight: bold;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #144EE3;
    border: 1px solid #144EE3;
    box-shadow: 10px 9px 22px rgba(20, 78, 227, 0.38);
    border-radius: 48px;

}


.short-link-table {
    margin-top: 4rem;
}

.short-link-table thead{
    background: #181E29;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px 10px 0px 0px;

}
.short-link-table thead tr th {
    padding: .5rem;
}

.short-link-table tbody tr {
    background: rgba(24, 30, 41, 0.22);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(28px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px;

}

.short-link-table tbody tr td {
    padding: .5rem;
}